.container {
  position: absolute;
  top: -1.25rem;
  right: -1.25rem;
  background-color: #2c797c;
  border-top-right-radius: 2.5rem;
  border-bottom-left-radius: 1.25rem;
  width: 3.5rem;
  height: 3.5rem;
  border: none;
  padding: 1rem;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &:hover .glyph {
    transform: scale(1.25);
  }

  &:active {
    background-color: hsl(182, 48%, 28%);
  }
}

.glyph {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.2;
  transition: transform 0.15s ease;
}
