.caption {
  margin: 3rem 0 3rem;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  column-gap: 3rem;
  row-gap: 2rem;
  position: relative;
  width: auto;
  background-color: #046064;
  border: 1.25rem solid #23bcc2cf;
  border-radius: 3.75rem;
  padding: 2rem;
}

.episodes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.25rem;
  min-width: 40rem;
  width: 100%;
}
