.link:any-link {
  align-content: center;
  text-decoration: none;
  color: inherit;
  box-shadow: 0 0 1rem #0004;
  overflow: hidden;
  background-color: #2c797ccf;
  transition: transform 0.15s ease;
  border-radius: 1rem;
  max-width: 24rem;

  &:hover {
    transform: scale(1.05);
  }
}

.episodeContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem 2rem;
  cursor: pointer;
  line-height: 1.2;
}
